:root {
    --wnd-height: 80%;
    --wnd-width: 24%;
    --sidebar-width : 18%;

    --user-view-zindex: 16;
}

.valid {
    display: flex;
    width: 1rem;
    height: 1rem;
    background-image: url('./accept.svg');
}

.userView {
    z-index: var(--user-view-zindex);
    /* position: fixed; */
}

.flexRight {
    /* align-items: flex-end; */
    /* margin-right: 0; */
    /* justify-self: flex-end; */
    /* float: right; */
    margin-left: auto;
}

.flexLeft {
    align-self: flex-start;
    /* justify-self: flex-start; */
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: center;
    /* border: 2px solid black; */
    /* z-index: 99; */
}

.wnd {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 2px rgb(179, 174, 174);

    height: var(--wnd-height);
    width: var(--wnd-width);
    min-width: 200px;
    /* min-height: 400px; */
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

.wnd .title {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 100%;
    min-height: 36px;
    min-width: 50px;
    border-bottom: 1px solid green;
}

.title .operator {
    display: flex;
    height: 36px;
    width: fit-content;
    align-items:center;
    justify-content: center;
    border-right: 1px solid gray;
    /* align-self: flex-start; */
    /* justify-self: flex-start; */
}

.operator *:hover {
    cursor: pointer;
    background-color: rgba(245, 235, 225, 0.4);
    border-radius: 50%;
}

.operator svg {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    max-width: 32px;
    max-height: 32PX;
    /* height: 26px;
    width: 26px; */
    /* height: 95%; */
}

.operator svg:hover {
    cursor: pointer;
    background-color: rgba(245, 235, 225, 0.4);
    border-radius: 50%;
    /* height: 95%; */
}

.title .titleName {
    overflow: hidden;
    white-space:nowrap;
    padding-left: 10px;
    flex: 1;
    min-width: 60px;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* justify-self: center;
    align-self: center; */
    display: flex;
    flex-direction: row;

    /* border: 1px solid black; */
}

.titleName img {
    max-width: 95%;
    max-height: 95%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 1px solid pink;
}

.titleName .userName {
    font-size: 160%;
    color: purple;
}

.titleName .createTime {
    font-size: 3px;
    /* margin-left: 5px; */
    /* align-self: flex-end; */
    float: right;
    justify-self: flex-end;
    
    /* border: 1px solid black; */
}

.titleName .createTime::after {
    content: " @ ";
}

.wnd .body {
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.sideBar {
    user-select: none;
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    /* min-width: 100px; */
    height: 100%;
    min-height: 100vh;
    /* border: 1px solid black; */
    overflow: auto;

    background-color: rgba(90, 219, 245, 1);
    border-radius: 0em 2em 0em 0em;
    
    /* background-color: rgba(255, 255, 255, 1); */
}

.sideBar .title {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 100%;
    min-height: 36px;
    min-width: 50px;
    border-bottom: 1px solid green;
}

.sideBar .body {
    padding-top: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideBar .signBtn {
    justify-content: center;
    flex-direction: column;
}

.menuSvg {
    /* fill: black; */
    width: 32px;
    height: 32px;
    background-image: url(/HTMLStatic/css/menu.svg);
    /* mask-image: url(/HTMLStatic/css/menu.svg);
    -webkit-mask-image: url(/HTMLStatic/css/menu.svg); */
}

/* .menuSvg:hover {
    cursor: pointer;
    background-color: rgba(245, 235, 225, 0.4);
    border-radius: 50%;
} */

.closeSvg {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-image: url(/HTMLStatic/css/close.svg);
}